[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=alba
Group=alba
WorkingDirectory=/home/alba/app/src/
Environment="PATH=/home/alba/app/myenv/bin"
EnvironmentFile=/home/alba/.env
ExecStart=/home/alba/app/myenv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target